@model techSupport.Model.SupportReq

@{
    ViewData["Title"] = "Create SOPA";
    if (ViewData["Message"] == null)
    {
        ViewData["Message"] = "";
    }
    ViewData["FromWhoID"] = Convert.ToInt32(ViewData["FromWhoID"]).ToString();
    ViewData["DateCreate"] = Convert.ToDateTime(ViewData["DateCreate"]).ToString("yyyy-MM-dd");
    ViewData["DateExpired"] = Convert.ToDateTime(ViewData["DateExpired"]).ToString("yyyy-MM-dd");

}
<h1>@ViewData["Title"]</h1>
<h3>@ViewData["DateExpired"]</h3>
<h4>SupportReq</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Message" class="control-label" >Message</label>
                <input asp-for="Message"  name ="Message"  class="form-control" value="@ViewData["Message"].ToString()"/>
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FromWhoID" class="control-label">FromWhoid</label>
                <input asp-for="FromWhoID" name ="FromWhoID" class="form-control" value="@ViewData["FromWhoID"].ToString()" />
                <span asp-validation-for="FromWhoID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateCreate" class="control-label">DateCreate</label>
                <input asp-for="DateCreate" name="DateCreate" class="form-control" type="date" value="@ViewData["DateCreate"]"/>
                <span asp-validation-for="DateCreate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateExpired" class="control-label">DateExpired</label>
                <input asp-for="DateExpired" name="DateExpired" class="form-control" type="date" value="@ViewData["DateExpired"]"/>
                <span asp-validation-for="DateExpired" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
